


<div class="row">
    <div class="col-lg-6 product-card mt-5">
            <div class="card shadow mt-3 mx-auto" style="width: 22rem;">
                <div class="card-body">
                  <h3 class="card-title text-center"> <%= foundBike.Company %> </h3>
                  <h5 class="card-title"> Rs: <%= foundBike.price %> </h5>
                  <p class="card-text"> <%= foundBike.Mileage %> </p>
                  <p class="card-text"> <%= foundBike.Power %> </p>
                  <a href="/bike/<%=foundBike._id%>/edit" class="btn btn-info">Edit</a>
                  <form class="d-inline-block" action="/bike/<%=foundBike._id%>?_method=DELETE" method="POST">
                      <button class="btn btn-danger btn-sm">Delete</button>
                   </form>
                </div>
            </div>
    </div>